/* utilites  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

#btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}

/* Header start  */
header {
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}

nav {
    width: 80%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    margin-left: 63px;
}

nav ul li a:hover {
    text-decoration: underline;

}

/* header banner start  */
.header_banner {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.header_banner_content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.header_banner_content h1 {
    font-weight: 700;
    font-size: 6vw;
    color: #131313;
}

.header_banner_content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header_banner_thumbnail {
    margin-top: 50px;

}

.header_banner_thumbnail img {
    width: 100%;
    margin-bottom: 50px;
}
/* header end  */
