/* utilites  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

#btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}

/* Header start  */
header {
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}

nav {
    width: 80%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-weight: 700;
    font-size: 4vw;
    color: #131313;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    margin-left: 63px;
}

nav ul li a:hover {
    text-decoration: underline;

}

/* header banner start  */
.header_banner {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.header_banner_content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.header_banner_content h1 {
    font-weight: 700;
    font-size: 6vw;
    color: #131313;
}

.header_banner_content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header_banner_thumbnail {
    margin-top: 50px;

}

.header_banner_thumbnail img {
    width: 100%;
    margin-bottom: 50px;
}

/* header end  */
main {

    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* feature section added  */

.our_feature {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.feature_banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;

}

.feature_content h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.fCspan {
    color: #727272;
    font-weight: 500;
}

.fCspanTwo {
    color: #FF900E;
}

.feature_content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* feature_list start  */
.feature_list {
    margin-top: 50px;

}

.feature_details_list {
    display: flex;
    column-gap: 60px;
}

.feature_details {
    width: 50%;
}

.feature_details h1 {
    font-weight: 700;
    padding-left: 13px;
    font-size: 4vw;
    border-left: 5px solid #FF900E;
    margin-bottom: 20px;
}

.feature_details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.f_details_card {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    height: 100px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px #cbcbcb;
}

.f_details_card h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}

.f_details_card p {
    font-size: 14px;
}

.feature_list_thumbnail {
    width: 50%;
}

.feature_list_thumbnail img {
    width: 100%;
}

.f_list_button {
    position: absolute;
    padding: 24px 55px;
    left: 760px;
    top: 2758px;
    color: white;
    background: rgba(255, 144, 14, 1);
    border-radius: 5px;
    font-size: 20px;

}

/* blogs start  */
.top_blogs {
    margin-top: 80px;
}

.top_blogs h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.all_blogs {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 113px;
    row-gap: 20px;
}

.blogs {
    display: flex;
}

.blogs_thumbnail {
    border: 2px solid #ff900e;
}

.blogs_thumbnail img {
    width: 235px;
    height: 135px;
}

.blogs_content {
    margin-left: 16px;
}

.blogs_content h3 {
    font-weight: 700;
    font-size: 2vw;
    line-height: 34px;
    color: #000000;
}

.blogs_content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 144, 14, 1);
}

.blogs_content p span {
    color: #9F9F9F;
}

/* facts start  */
.facts {
    margin-top: 100px;
}

.facts h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 11px;
}

.facts p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 539px;

}

.testimonial {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}



.testimonial_card {
    width: 231.83px;
    height: 200.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    transition: transform 2s;
}

.testimonial:hover .testimonial_card {
    transform: rotate(360deg);
    border: 4px dotted rgba(255, 144, 14, 1);
}


.testimonial_card h1 {
    font-weight: 600;
    font-size: 45px;
}

.testimonial_card p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* sponsor :start */
.sponsor {
    margin-top: 100px;
    text-align: center;
}

.sponsor h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.sponsor p {
    width: 542px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.sponsors {
    display: flex;
    justify-content: space-evenly;
}

.sponsors img {
    filter: grayscale(100%);
}

/* footer start  */

footer {
    width: 80%;
    height: 100px;
    margin: auto;
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive for mobile device  */
@media only screen and (min-width:320px) and (max-width: 767px) {
    nav {
        flex-direction: column;
    }

    .logo h1 {
        font-size: 8vw;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        margin-left: 0px;
    }

    .header_banner {
        margin-top: 80px;
    }

    .header_banner_content p {
        width: 80%;
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: auto;
        margin-bottom: 15px;
    }

    .our_feature {
        flex-direction: column;
    }

    .feature_content h1 {
        margin-top: 30px;
    }

    .feature_banner {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature_details_list {
        flex-direction: column;
    }

    .feature_details {
        width: 100%;
        text-align: justify;
    }

    .feature_details h1 {
        font-size: 8vw;

    }

    .f_details_card {
        height: 117px;
    }

    .feature_list_thumbnail {
        width: 100%;
        margin-top: 42px;
    }

    .f_list_button {
        position: static;
        text-align: center;
    }

    .all_blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs {
        flex-direction: column;
    }

    .blogs_thumbnail img {
        width: 100%;
        height: 200px;
    }

    .blogs_content h3 {
        font-size: 7vw;
        line-height: 38px;
        margin-top: 13px;
    }

    .facts p {
        width: 372px;
    }

    .testimonial {
        align-items: center;
        flex-direction: column;
        margin-top: 0px;
    }

    .testimonial_card {
        margin-top: 30px;
    }

    .sponsor {
        margin-top: 65px;
    }

    .sponsor p {
        width: 373px;
    }

    .sponsors {
        flex-direction: column;
        row-gap: 50px;
    }

    footer {
        padding: 32px;
    }

}